<div class="wrapper">
  <form class="form-create-mortier" (ngSubmit)="onSubmit()">       
    <h2 class="clean-font">Créer mortier</h2>
    <label>Nom</label>
    <input type="text" class="form-control" name="nom" [(ngModel)]="nom" placeholder="nom" name="nom" required autofocus="" />
    <!-- Verificaton des inputs -->
	
	<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Participant</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let participant of listParticipantsMortier; let i = index">
            <td>
                <input id="participant" [(ngModel)]="participant.user" class="form-control" type="text" name="{{participant}}"
                [ngModelOptions]="{standalone: true}"
                [resultFormatter]="formatMatches"
		        [inputFormatter]="formatMatches"
		    	[ngbTypeahead]="search"/> <!-- Add read only in input text -->
            <td>
                <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
            </td>
        </tr>
        <tr>
            <td>
                <input id="participant" class="form-control" type="text" [(ngModel)]="newParticipant.user" name="{{newParticipant}}"
                [ngModelOptions]="{standalone: true}"
                [resultFormatter]="formatMatches"
		        [inputFormatter]="formatMatches"
		    	[ngbTypeahead]="search"/> <!-- Add read only in input text -->
            </td>
            <td>
                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
            </td>
        </tr>
    </tbody>
</table>

    <br />

    <button class="btn btn-primary btn-block" type="submit">Creer</button>   
  </form>
</div>

